<div class="col-md-8">
	<h1> Welcome <%= current_user.name %> </h1>

	<%= form_for @user do |f| %>

	Name: <%= f.text_field :name %>
	Email: <%= f.text_field :email %>
	Bio: <%= f.text_field :bio %>
	Price: <%= f.text_field :price %>

	<%= f.submit "Submit Edits!" %>

<% end %>

</div>