<!-- This page is for my marketplace, trainers will be displayed here as well as being searchable -->

<div class="container-fluid">
<%= paginate @user %>
	<div class="col-md-8" id="inline-searchbar">
		<%= form_tag('/users', method: 'get') do %>
		<p><%= text_field_tag :query %></p>
		<p><%= submit_tag "Search" %> </p>
		<%end%>
		
	<table class="col-md-8 table table-striped ">
		<% @user.each do |user| %>
		<% if user.trainer == true %>

		<tr class="hover" >
		<!-- Add buttons here for better UI -->

			<td><%= user.picture %></td>
			<td><%= link_to user.name, user_path(user) %></td>
			<td><%= user.speciality %></td>
			<td><%= user.price %></td>

		</tr>
		
  		<% end %>
		<% end %>
	</table>
</div>
</div>
</div>
