<div class="container-fluid">
<%= form_tag('users_path', method: :get) do %>
<strong>Search Trainers by:</strong><%= select_tag "search" , options_for_select(["name"]) %>
<%= text_field_tag :query %>
<%= submit_tag "Search" %>
<%end%>
<%= paginate @user %>
	<div class="col-md-8">
		<table class="col-md-8 table table-striped ">
		<% @user.each do |user| %>
  		<%= cache user do %>
	<tr class="hover" >
		<td><%= user.picture %></td>
		<td><%= user.name %></td>
		<td><%= user.speciality %></td>
		<td><%= user.price %></td>
	</tr>
  		<% end %>
		<% end %>
	</table>
</div>
