<div class="col-md-8">
	<div class="page-header">
	  <h1><%= @user.name %> <small>ACE Certified Trainer</small></h1>
	</div>
	
	<h3><%= number_to_currency @user.price %></h3>
	<br>
	<br>
	<%= render 'users/lorem_ipsum' %>
 

 <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
   <%= link_to "Edit", edit_user_path(@user), class: "btn btn-default" %>
  </div>
  <div class="btn-group" role="group">
   <%= link_to "Delete", @user, method: :delete, data: {confirm: "You sure bro?"}, class: "btn btn-default" %>
  </div>

</div>


