<!DOCTYPE html>
<html>
<head>
  <title>Vim2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- My nav bar, with logo and sign up and login buttons -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
            <%= image_tag 'vimlogo.png', class: "logo" %>
				<button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#login-modal">Login</button>
				<button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#signup-modal">Signup</button>
        <div class="container">
            <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>" role="alert">
            <%= value %>
        </div>
            <% end %>
        </div>
        <div class="pull-right ">
          <% if current_user %>
            <h1 class="signin">Signed in as <strong><%= current_user.name%></strong></h1>
            <%= link_to "Logout", logout_path , class: "navbar-link btn btn-default navbar-btn "%>
          <%else%>
            <%= %>
          <%end%>
        </div> 
  </div>
</div>
</nav>

<!-- Signup Modal -->
<%= render 'users/signup_modal' %>

<!-- Login Modal -->
<%= render 'users/login_modal' %>


<%= yield %>

</body>
</html>
